/*Navbar*/

.nav{
    background-color: #a69935;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.logo-container{
    align-self: center;
    margin: 0px 15px 0px 15px;
    font-size: 1.3rem;
    color: #fff;
}

.open-menu-container{
    display: flex;
    margin-right: 20px;
}

.open-menu-icon{
    width: 30px;
    height: auto;
    color: #fff;
    cursor: pointer;
}

.links-container-pc{
    display: none;
}

.links-container-mobile{
    background-color: #262100;
    position: absolute;
    height: 100vh;
    width: 0%;
    right: 0px;
    border-radius: 1rem 0rem 0rem 1rem;
    box-shadow: -5px 0px 15px;
    transition: all 0.5s;
}

.close-menu-container{
    display: flex;
    justify-content: end;
}

.close-menu-icon{
    width: 30px;
    height: auto;
    color: #fff;
    margin: 15px 15px 50px 0px;
    cursor: pointer;
}

.links-container-mobile ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    white-space: nowrap;
}

.links-container-mobile li{
    color: #fff;
    margin: 20px 0px;
}

.links-container-mobile a{
    text-decoration: none;
}

.links-container-mobile a:visited{
    color: #fff;
    text-decoration: none;
}

.links-container-mobile .mobile-menu-icons{
    margin-right: 10px;
}

.links-container-mobile .name{
    font-size: 0.85rem;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 30px;
    white-space: nowrap;
    margin-left: 35px;
}

/*Footer*/

.footer-contacts{
    background-color: #ececec;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    box-shadow: 0px 30px 50px #000;
}

.footer-contacts .logo-footer{
    width: 100%;
    text-align: center;
}

.footer-contacts .footer-locAndPhone{
    display: flex;
}

.footer-contacts p{
    margin: 5px;
    font-size: 0.75rem;
}

.footer-contacts .specifications-footer{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

/*Home*/
.home{
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-container1{
    position: relative;
    top: 60px;
    height: 50vh;
    background-color: #a69935;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.home-container1 .tittle{
    font-size: 1.3rem;
    color: #fff;
}

.home-container1 p{
    margin-bottom: 20px;
    color: #fff;
}

.home-container1 .buttons{
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.home-container1 button{
    background-color: #262100;
    color: #fff;
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 0.4rem;
    align-self: flex-start;
    box-shadow: 0px 0px 15px #000;
    width: 115px;
}

.home-container1 button a{
    text-decoration: none;
}

.home-container1 button a:visited{
    color: #fff;
}

.home-container2{
    height: 50vh;
    box-shadow: 0px 0px 10px #000;
    background-image: url(../Images/homeHouse.webp);
    background-position: center;
    background-size: cover;
}

/*Projects*/
.projects-container1{
    position: relative;
    top: 60px;
    background-color: #a69935;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.projects-container1 .tittle{
    font-size: 1.3rem;
    color: #fff;
}

.projects-container1 p{
    margin-bottom: 20px;
    color: #fff;
}

.projects-container1 button{
    background-color: #262100;
    color: #fff;
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 0.4rem;
    align-self: flex-start;
    box-shadow: 0px 0px 15px #000;
    width: 115px;
}

.projects-container1 button a{
    text-decoration: none;
}

.projects-container1 button a:visited{
    color: #fff;
}

.projects-container2{
    height: 50vh;
    background-image: url('../Images/projectsImage1.webp');
    box-shadow: 0px 0px 10px #000;
    background-position: center;
    background-size: cover;
}

.projects-container3{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 30px;
}

.projects-container3 p{
    margin: 10px 0px;
}

.projects-container3 .tittle{
    color: #a69935;
    font-size: 1.3rem;
}

.projects-container3 .info-projects-container{
    border-style: solid;
    border-width: 1px;
    width: 75%;
    align-self: center;
    margin-top: 40px;
}

.projects-container4{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 30px;
}

.projects-container4{
    color: #a69935;
}

.projects-container4 .tittle{
    font-size: 1.3rem;
}

/*About US*/
.aboutUs{
    display: flex;
    flex-direction: column;
    position: relative;
}

.about-us-container1{
    position: relative;
    top: 60px;
    background-color: #a69935;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px 0px 30px;
}

.about-us-container1 .tittle{
    font-size: 1.3rem;
}

.about-us-container1 p{
    color: #fff;
    margin-bottom: 20px;
}

.about-us-container1 button{
    background-color: #262100;
    color: #fff;
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 0.4rem;
    align-self: flex-start;
    box-shadow: 0px 0px 15px #000;
    width: 125px;
}

.about-us-container1 button a{
    text-decoration: none;
}

.about-us-container1 button a:visited{
    color: #fff;
}

.about-us-container2{
    height: 50vh;
    background-image: url('../Images/aboutUsImage.webp');
    box-shadow: 0px 0px 10px #000;
    background-position: center;
    background-size: cover;
}

.about-us-container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.about-us-container3 .tittle{
    margin: 10px 0px;
    color: #a69935;
    font-size: 1.3rem;
}

.about-us-container3 p{
    margin: 10px 30px;
}

.about-us-container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}

.about-us-container4 p{
    margin: 10px 0px;
    padding: 0px 20px;
}

.about-us-container4 .tittle{
    color: #a69935;
    font-size: 1.3rem;
    padding: 0pc 20px;
}

/*Contacts*/
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.contact-container1{
    background-color: #a69935;
    position: relative;
    top: 60px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    color: #fff;
}

.contact-container1 .tittle{
    font-size: 1.3rem;
}

.contact-container1 p{
    color: #fff;
    margin-bottom: 20px;
}

.contact-container1 .buttons{
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.contact-container1 button{
    background-color: #262100;
    color: #fff;
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 0.4rem;
    align-self: flex-start;
    box-shadow: 0px 0px 15px #000;
    width: 125px;
}

.contact-container1 button a{
    text-decoration: none;
}

.contact-container1 button a:visited{
    color: #fff;
}

.contact-container2{
    height: 50vh;
    background-image: url('../Images/contactImage.webp');
    box-shadow: 0px 0px 10px #000;
    background-position: center;
    background-size: cover;
}

.contact-container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 20px 0px 20px;
}

.contact-container3 p{
    text-align: center;
    margin: 20px 0px;
    color: #a69935;
    font-size: 1.3rem;
}

.contact-container3 form{
    display: flex;
    flex-direction: column;
    background-color: #a69935;
    padding: 40px 25px 10px 25px;
    box-shadow: 1px 1px 15px #000;
    margin: 10px 0px;
    border-radius: 0.5rem;
}

.contact-container3 form label{
    margin: 5px 0px;
    color: #fff;
}

.contact-container3 form input{
    border-radius: 0.2rem;
    height: 25px;
}

.contact-container3 form textarea{
    border-radius: 0.2rem;
    resize: none;
    height: 80px;
}

.contact-container3 form .buttom{
    background-color: #262100;
    color: #fff;
    align-self: center;
    padding: 10px 15px;
    margin: 20px 0px;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 90px;
    height: auto;
    box-shadow: 1px 1px 10px #000;
}

.contact-container4{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contact-container4 .map-container{
    width: 100%;
}

.contact-container4 .map-container iframe{
    width: 100%;
    height: 300px;
}