/*Navbar*/

.nav{
    background-color: #a69935;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
}

.nav .logo-container{
    align-self: center;
    margin: 0px 15px 0px 15px;
    font-size: 1.2rem;
}

.nav .open-menu-container{
    display: flex;
    margin-right: 20px;
}

.nav .open-menu-icon{
    width: 30px;
    height: auto;
    color: #fff;
    cursor: pointer;
}

.nav .links-container{
    background-color: #262100;
    position: absolute;
    height: 100vh;
    width: 0%;
    right: 0px;
    border-radius: 1rem 0rem 0rem 1rem;
    transition: all 0.5s;
    box-shadow: -5px 0px 15px;
}

.nav .close-menu-container{
    display: flex;
    justify-content: end;
}

.nav .close-menu-icon{
    width: 30px;
    height: auto;
    color: #fff;
    margin: 15px 15px 50px 0px;
    cursor: pointer;
}

.nav .links-container ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.nav .links-container li{
    font-size: 1rem;
    color: #fff;
    margin: 20px 0px;
}

.nav .links-container a{
    text-decoration: none;
}

.nav .links-container a:visited{
    color: #fff;
    text-decoration: none;
}

.nav .links-container .mobile-menu-icons{
    margin-right: 15px;
}

.name{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 30px;
    padding: 10px;
    left: 20px;
}

/*Footer*/

.footer-contacts{
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0px 30px 50px #000;
}

.footer-contacts .logo-footer{
    align-self: center;
}

.footer-contacts .footer-locAndPhone{
    display: flex;
}

.footer-contacts p{
    margin: 5px;
    font-size: 0.75rem;
}

.footer-contacts .specifications-footer{
    align-self: center;
    margin-top: 5px;
}

/*Home*/

.home{
    display: flex;
    flex-direction: column;
}

.home .home-container1{
    height: 50vh;
    background-color: #a69935;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.home .home-container1 p{
    margin-top: 60px;
    margin-bottom: 20px;
}

.home .home-container1 button{
    background-color: #262100;
    color: #fff;
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 0.4rem;
    align-self: flex-start;
    box-shadow: 0px 0px 15px #000;
    width: 115px;
}

.home .home-container1 button a{
    text-decoration: none;
}

.home .home-container1 button a:visited{
    color: #fff;
}

.home .home-container2{
    height: 50vh;
    box-shadow: 0px 0px 10px #000;
    background-image: url(../Images/homeHouse.jpg);
    background-position: center;
    background-size: cover;
}