@media(min-width: 980px){
    /*Navbar*/
    .nav{
        height: 80px;
    }

    .logo-container{
        font-size: 1.5rem;
    }

    .open-menu-container{
        display: none;
    }

    .links-container-pc{
        display: block;
    }

    .links-container-pc ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    .links-container-pc li{
        align-items: center;
        color: #fff;
        margin: 0px 30px;
    }

    .links-container-pc li:hover{
        transition: all 0.3s;
        filter: drop-shadow(1px 1px 1px #f2df53);
    }

    .links-container-pc a{
        text-decoration: none;
    }

    .links-container-pc a:visited{
        color: #fff;
        text-decoration: none;
    }

    .links-container-pc .mobile-menu-icons{
        margin-right: 10px;
    }

    /*Footer*/
    .footer-contacts{
        display: flex;
        justify-content: center;
        height: 150px;
    }

    .footer-contacts p{
        margin: 5px 5px;
    }

    /*Home*/
    .home-container1{
        height: 80vh;
    }

    .home-container1 .tittle{
        font-size: 4rem;
    }

    .home-container1 p{
        font-size: 1.1rem;
    }

    .home-container1 .buttons{
        width: 290px;
    }

    .home-container1 button{
        width: 135px;
        font-size: 1.1rem;
    }

    .home-container1 button:hover{
        background-color: #615a1b;
        transition: all 0.3s;
        box-shadow: 1px 1px 5px #f2df53;
    }

    .home-container2{
        height: 120vh;
        margin-bottom: 100px;
    }
}