.profile-container{
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
    justify-content: center;
    align-items: center;
}

.profile-container img{
    width: 250px;
    height: auto;
}

@media(min-width: 980px){
    .profile-container{
        flex-direction: row;
        width: 500px;
    }
}
