.home-container{
    padding: 50px 0px 25px 0px;
}

.home-container p{
    margin: 10px 30px;
}

.home-container img{
    width: 100%;
    height: auto;
    margin: 20px 0px;
}

@media(min-width: 721px){
    .home-container{
        height: 100vh;
        padding: 0px 100px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .home-container.reverce{
        flex-direction: row-reverse;
    }
    
    .home-container .tittle{
        margin: 10px 30px;
        position: absolute;
        color: #a69935;
        font-size: 5rem;
        top: 130px;
        left: 350px;
    }
    
    .home-container img{
        margin: 20px 0px;
        max-height: 400px;
    }
}